.projet-container {
    width: 95%;
    overflow-y: auto;
}

.projets-liste {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
    padding: 10px;
}

.projet-card {
    color: aliceblue;
    background-color: var(--black);
    border-radius: 10px;
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(247, 243, 243, 0.527);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projet-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 8px 0 var(--light-blue-shadow);
}

.projet-card h4 {
    margin-bottom: 10px;
    color: aliceblue;
}

.projet-card p {
    color: hsl(0, 5%, 59%);
    margin-bottom: 10px;
}

.projet-card a {
    color: hwb(204 33% 4%);
    text-align: left;
}
.projet-card:hover {
    transform: translateY(-4px);
    
}
.projet-card a:hover {
    color: #8ab6d3; 
}

.tech-icon {
    width: 24px; 
    height: 24px; 
    color: inherit; 
    margin-right: 8px;
}

