.footer {
    background-color: var(--black);
    height: 70px;
    color: var(--white);
    box-shadow: 1px 1px 6px 6px var(--dark-orange);
}

.footer div{
    margin-top: 2px;
    padding-top: 1px;
    text-align: center;
}

